### A script to clean up these files; scrubbing out dollar signs, cents, converting object types to integers or floats, etc.  In the case of the 'listings' file, removed a bunch of unneeded columns.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)

In [2]:
calendar_data = pd.read_csv('calendar.csv')
calendar_data.head(3)

   listing_id    cal_date available price
0         958  2018-09-08         f   NaN
1       83553  2018-09-08         f   NaN
2       83553  2018-09-09         f   NaN

### cleanup of strings, fill NaN's, convert data type

In [3]:
calendar_data['price'] = calendar_data['price'].str.replace("$","")
calendar_data['price'] = calendar_data['price'].str.replace(",","")
calendar_data['price'] = calendar_data['price'].str.replace("[.][0-9]{2}","")
calendar_data['price'] = calendar_data['price'].fillna(0)
calendar_data['price'] = calendar_data['price'].astype(int)
calendar_data['available'] = calendar_data['available'].str.replace('t','1')
calendar_data['available'] = calendar_data['available'].str.replace('f','0')
calendar_data['available'] = calendar_data['available'].astype(int)

In [4]:
calendar_data.to_csv('calendar_clean.csv', index=False)

In [5]:
reviews = pd.read_csv('reviews.csv', usecols=['listing_id' ,'id', 'review_date', 'reviewer_id', 'reviewer_name'])
reviews.head(3)

   listing_id     id review_date  reviewer_id reviewer_name
0         958   5977  2009-07-23        15695      Edmund C
1         958   6660  2009-08-03        26145         Simon
2         958  11519  2009-09-27        25839         Denis

In [6]:
reviews.to_csv('reviews_clean.csv', index=False)

### This was the 'dirtiest' file, and had a LOT of unnecessary columns; renamed a few just to ease typing and to compress the display a bit.

In [7]:
listings = pd.read_csv('listings.csv', usecols=['id', 'neighbourhood', 'neighbourhood_cleansed', 'zipcode',
                       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
                       'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
                       'security_deposit', 'cleaning_fee', 'calendar_updated', 'has_availability',
                       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
                       'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
                       'review_scores_location', 'review_scores_value', 'license', 'reviews_per_month'])

listings.rename(columns={'neighbourhood':'neighb', 'neighbourhood_cleansed':'neighb_cl', 'accommodates':'accom',
                         'zipcode':'zip', 'latitude':'lat', 'longitude':'long', 'bathrooms':'baths',
                         'has_availability':'has_avail', 'number_of_reviews':'num_revs',
                         'review_scores_ratings':'rev_ratings', 'review_scores_accuracy':'rev_acc',
                         'review_scores_cleanliness':'rev_clean', 'review_scores_checkin':'rev_checkin',
                         'review_scores_communication':'rev_comm', 'review_scores_location':'rev_loc',
                         'review_scores_value':'rev_val', 'reviews_per_month':'revs_per_mon'}, inplace=True)
listings.head()

,id,neighb,neighb_cl,zip,lat,long,property_type,room_type,accom,baths,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,security_deposit,cleaning_fee,calendar_updated,has_avail,num_revs,review_scores_rating,rev_acc,rev_clean,rev_checkin,rev_comm,rev_loc,rev_val,license,revs_per_mon
0,958,Duboce Triangle,Western Addition,94117.0,37.769310,-122.433856,Apartment,Entire home/apt,3,1.0,1.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Pets liv...",NaN,$170.00,"$1,120.00",$100.00,$100.00,1 week ago,t,156,97.0,10.0,10.0,10.0,10.0,10.0,10.0,STR-0001256,1.40
1,5858,Bernal Heights,Bernal Heights,94110.0,37.745112,-122.421018,Apartment,Entire home/apt,5,1.0,2.0,3.0,Real Bed,"{Internet,Wifi,Kitchen,Heating,""Family/kid fri...",NaN,$235.00,"$1,600.00",NaN,$100.00,3 weeks ago,t,112,98.0,10.0,10.0,10.0,10.0,10.0,9.0,NaN,0.98
2,7918,Cole Valley,Haight Ashbury,94117.0,37.766690,-122.452505,Apartment,Private room,2,4.0,1.0,1.0,Real Bed,"{TV,Internet,Wifi,Kitchen,""Free street parking...",NaN,$65.00,$485.00,$200.00,$50.00,10 months ago,t,17,85.0,8.0,8.0,9.0,9.0,9.0,8.0,NaN,0.15
3,8142,Cole Valley,Haight Ashbury,94117.0,37.764872,-122.451828,Apartment,Private room,2,4.0,1.0,1.0,Real Bed,"{TV,Internet,Wifi,Kitchen,""Free street parking...",NaN,$65.00,$490.00,$200.00,$50.00,10 months ago,t,7,91.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN,0.14
4,8339,Alamo Square,Western Addition,94117.0,37.775249,-122.436374,House,Entire home/apt,5,1.5,2.0,2.0,Real Bed,"{TV,Internet,Wifi,Kitchen,Heating,""Family/kid ...",NaN,$675.00,NaN,$0.00,$225.00,3 weeks ago,t,27,97.0,10.0,10.0,10.0,10.0,10.0,9.0,STR-0000264,0.25

In [8]:
# Obvious mistake here, the weekly price is below daily; an extra zero present, will correct below
listings[listings['id'] == 4037590]

,id,neighb,neighb_cl,zip,lat,long,property_type,room_type,accom,baths,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,security_deposit,cleaning_fee,calendar_updated,has_avail,num_revs,review_scores_rating,rev_acc,rev_clean,rev_checkin,rev_comm,rev_loc,rev_val,license,revs_per_mon
1383,4037590,Nob Hill,Nob Hill,94133.0,37.797069,-122.410507,Condominium,Entire home/apt,5,2.0,3.0,4.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Paid par...",NaN,"$9,000.00","$3,200.00",$475.00,$100.00,today,t,2,100.0,10.0,10.0,10.0,10.0,10.0,8.0,NaN,0.07

In [9]:
listings['neighb'].unique()

array(['Duboce Triangle', 'Bernal Heights', 'Cole Valley', 'Alamo Square',
       'Western Addition/NOPA', 'Mission District', 'Potrero Hill', nan,
       'Cow Hollow', 'Lower Haight', 'Hayes Valley', 'Union Square',
       'Haight-Ashbury', 'The Castro', 'South Beach', 'Noe Valley',
       'Pacific Heights', 'Telegraph Hill', 'Presidio Heights',
       'Glen Park', 'Nob Hill', 'Dogpatch', 'Twin Peaks', 'Ingleside',
       'SoMa', 'Financial District', 'Richmond District', 'Russian Hill',
       'Outer Sunset', 'Marina', 'Excelsior', 'Chinatown', 'Civic Center',
       'Tenderloin', 'Balboa Terrace', 'Bayview', 'Inner Sunset',
       'West Portal', 'Diamond Heights', 'North Beach', 'Mission Terrace',
       'Japantown', 'Sunnyside', 'Parkside', "Fisherman's Wharf",
       'Lakeshore', 'Crocker Amazon', 'Oceanview', 'Portola', 'Downtown',
       'Presidio', 'Visitacion Valley', 'Forest Hill', 'Mission Bay',
       'Sea Cliff', 'Daly City'], dtype=object)

In [10]:
listings['neighb_cl'].unique()       #to see the difference with 'neighb'
listings['zip'].unique()             #zip codes as floats, that makes sense.....

array([94117., 94110., 94115., 94107., 94109., 94111., 94102., 94114.,
       94105., 94133., 94131., 94118., 94127., 94103., 94104., 94121.,
       94122., 94123., 94112., 94108., 94124., 94158., 94113., 94116.,
       94132.,    nan, 94134., 94106., 94014., 94965., 94510., 94015.])

In [11]:
listings['zip'] = listings['zip'].fillna(0)
listings['zip'] = listings['zip'].astype(int)

In [12]:
# Get the prices cleaned up
cols = ['price', 'weekly_price', 'security_deposit', 'cleaning_fee']
for col in cols:
    listings[col] = listings[col].str.replace("$","")
    listings[col] = listings[col].str.replace(",","")
    listings[col] = listings[col].str.replace("[.][0-9]{2}","")
    listings[col] = listings[col].fillna(0)
    listings[col] = listings[col].astype(int)

# Convert to numeric form
listings['has_avail'] = listings['has_avail'].str.replace('t','1')
listings['has_avail'] = listings['has_avail'].str.replace('f','0')
listings['has_avail'] = listings['has_avail'].astype(int)
listings['license'] = listings['license'].fillna(0)

listings.loc[(listings['price'] == 9000) & (listings['id'] == 4037590), 'price'] = 900
listings.loc[(listings['price'] == 8000) & (listings['id'] == 14887262), 'price'] = 80

In [13]:
listings.to_csv('listings_clean.csv', index=False)

In [14]:
listings.head()

,id,neighb,neighb_cl,zip,lat,long,property_type,room_type,accom,baths,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,security_deposit,cleaning_fee,calendar_updated,has_avail,num_revs,review_scores_rating,rev_acc,rev_clean,rev_checkin,rev_comm,rev_loc,rev_val,license,revs_per_mon
0,958,Duboce Triangle,Western Addition,94117,37.769310,-122.433856,Apartment,Entire home/apt,3,1.0,1.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Pets liv...",NaN,170,1120,100,100,1 week ago,1,156,97.0,10.0,10.0,10.0,10.0,10.0,10.0,STR-0001256,1.40
1,5858,Bernal Heights,Bernal Heights,94110,37.745112,-122.421018,Apartment,Entire home/apt,5,1.0,2.0,3.0,Real Bed,"{Internet,Wifi,Kitchen,Heating,""Family/kid fri...",NaN,235,1600,0,100,3 weeks ago,1,112,98.0,10.0,10.0,10.0,10.0,10.0,9.0,0,0.98
2,7918,Cole Valley,Haight Ashbury,94117,37.766690,-122.452505,Apartment,Private room,2,4.0,1.0,1.0,Real Bed,"{TV,Internet,Wifi,Kitchen,""Free street parking...",NaN,65,485,200,50,10 months ago,1,17,85.0,8.0,8.0,9.0,9.0,9.0,8.0,0,0.15
3,8142,Cole Valley,Haight Ashbury,94117,37.764872,-122.451828,Apartment,Private room,2,4.0,1.0,1.0,Real Bed,"{TV,Internet,Wifi,Kitchen,""Free street parking...",NaN,65,490,200,50,10 months ago,1,7,91.0,9.0,9.0,9.0,9.0,9.0,9.0,0,0.14
4,8339,Alamo Square,Western Addition,94117,37.775249,-122.436374,House,Entire home/apt,5,1.5,2.0,2.0,Real Bed,"{TV,Internet,Wifi,Kitchen,Heating,""Family/kid ...",NaN,675,0,0,225,3 weeks ago,1,27,97.0,10.0,10.0,10.0,10.0,10.0,9.0,STR-0000264,0.25

In [15]:
listings.dtypes

id                        int64
neighb                   object
neighb_cl                object
zip                       int64
lat                     float64
long                    float64
property_type            object
room_type                object
accom                     int64
baths                   float64
bedrooms                float64
beds                    float64
bed_type                 object
amenities                object
square_feet             float64
price                     int64
weekly_price              int64
security_deposit          int64
cleaning_fee              int64
calendar_updated         object
has_avail                 int64
num_revs                  int64
review_scores_rating    float64
rev_acc                 float64
rev_clean               float64
rev_checkin             float64
rev_comm                float64
rev_loc                 float64
rev_val                 float64
license                  object
revs_per_mon            float64
dtype: object